@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  background-color: #5372f0;
}

.container{
  width: 690px;
  background-color: #fff;
  border-radius: 7px;
  padding: 30px;
}

.wrapper{
  border-radius: 5px;
  border: 1px solid #bbb;  
}

.wrapper .tex-input{
  display: flex;
  border-bottom: 1px solid #bbb;
}

.tex-input .to-text{
  border-radius: 0px;
  border-left: 1px solid #bbb;
}

.tex-input textarea{
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size:18px;
  border-radius: 5px;
  background: none;
  padding: 10px 15px;
}

.controls, li, .icons,.icons i{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls{
  list-style: none;
  padding: 12px 15px;

}

.controls .row.from .icons{
  padding-right: 15px;
  border-right: 1px solid #bbb;
}

.controls .row.to .icons{
  padding-left: 15px;
  border-left: 1px solid #bbb;
}

.controls .icons{
  width: 38%;
}

.controls .icons i{
  width: 50px;
  color: #9f9f9f;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
}

.controls .row select{
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
}

.controls .exchange{
  color: #9f9f9f;
  font-size: 16px;
  cursor: pointer;
}

.container button{
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius:5px;
  background-color: #5372f0;
  color: #fff;
  font-size: 17px;
}



